.faq {
  &-section {
    padding: 77px 0 109px 0;
  }

  &__wrap {
    display: flex;
  }

  &__content {

    &-title {
      width: calc(50% - 20px);
    }

    &-text {
      width: calc(50% + 20px);
    }
  }

  &__title {
    font-size: 60px;
    letter-spacing: 0.02em;
    background-image: linear-gradient(143.85deg, #FFB78F 11.79%, #DB73FF 85.69%);
    background-clip: text;
    font-family: "Chakra Petch Bold", sans-serif;
    text-align: center;
  }

  &__gif {
    max-width: 100%;
  }

  &__list {
    padding-top: 14px;
  }

  &__item {
    position: relative;
    padding: 0px 30px 0 0px;
    margin-bottom: 30px;
    background: $main-black;
    box-shadow: 2px 2px 20px rgba(239, 57, 255, 0.3);
    border-radius: 10px;
    background: linear-gradient(#0D0D0D, #0D0D0D) padding-box, linear-gradient(45deg, #FC84FF, #54D1FA) border-box;
    border: 1px solid transparent;
    overflow: hidden;

    &:last-child {
      margin-bottom: 0;
    }

    &.open {
      .faq__item-answer {
        opacity: 1;
        margin-bottom: 27px;
        padding-top: 25px;
      }
    }
  }

  &__item-question {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-left: 20px;
    align-items: center;
    width: 100%;
    font-family: "Montserrat Medium", sans-serif;
    font-size: 28px;
    line-height: 34px;
    color: $main-white;
    cursor: pointer;
    text-align: left;
  }

  &__item-answer {
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    opacity: 0;
    transition: all 0.25s ease-out;
    padding-left: 10px;
    padding-top: 30px;
    font-family: "Montserrat Regular", sans-serif;
    font-size: 19px;
    line-height: 180%;
    color: $main-text2;
    text-align: left;
  }

  &_green {
    .faq__title {
      background-image: linear-gradient(148.71deg, #B2FF0F 10.47%, #76FFEF 88.29%);
    }

    .faq__item {
      background: linear-gradient(#0D0D0D, #0D0D0D) padding-box, linear-gradient(45deg, #B2FF0F, #76FFEF) border-box;
      box-shadow: 2px 2px 20px rgba(85, 255, 57, 0.5);
    }
  }
}

@media screen and (max-width: 1200px) {
  .faq {
    &-section {
      padding-top: 36px;
      padding-bottom: 45px;
    }

    &__title {
      font-size: 54px;
    }

    &__item {
      &.open {
        .faq__item-answer {
          margin-bottom: 20px;
        }
      }
    }

    &__item-question {
      padding-top: 20px;
      font-size: 20px;
    }

    &__item-answer {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 992px) {
  .faq {
    &__wrap {
      flex-direction: column;
    }

    &__content {
      width: 100%;
    }

    &__title {
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 768px) {
  .faq {
    &__title {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 576px) {
  .faq {
    &-section {
      padding-bottom: 32.5px;
    }

    &__title {
      font-size: 30px;
      margin-bottom: 0px;
    }

    &__list {
      padding: 0 20px;
    }

    &__item {
      padding-right: 14px;
      margin-bottom: 7px;

      &.open {
        .faq__item-answer {
          margin-bottom: 10px;
          padding-top: 16px;
        }
      }

      &-question {
        padding-top: 15px;
        padding-left: 13px;
        font-size: 14px;
        line-height: 17px;

        img {
          height: 18px;
          width: 18px;
        }
      }

      &-answer {
        padding-top: 15px;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}