.faq {
  &-section {
    padding: 77px 0 91px 0;
  }

  &__wrap {
    display: flex;
  }

  &__content {
    width: 50%;
  }

  &__title {
    background-image: linear-gradient(143.85deg, #FFB78F 11.79%, #DB73FF 85.69%);
  }

  &__gif {
    max-width: 100%;
  }

  &__list {
    padding-top: 14px;
  }

  &__item {
    position: relative;
    padding: 0px 37px 0 0px;
    margin-bottom: 30px;
    background: $main-black;
    box-shadow: 2px 2px 20px rgba(239, 57, 255, 0.3);
    border-radius: 10px;
    background: linear-gradient(#0D0D0D, #0D0D0D) padding-box, linear-gradient(45deg, #FFB78F, #DB73FF) border-box;
    border: 1px solid transparent;
    overflow: hidden;

    &:last-child {
      margin-bottom: 0;
    }

    &.open {
      .faq__item-answer {
        opacity: 1;
        margin-bottom: 31px;
      }
    }
  }

  &__item-question {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 20px;
    align-items: center;
    width: 100%;
    font-size: 28px;
    color: $main-white;
    cursor: pointer;
  }

  &__item-answer {
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    opacity: 0;
    transition: all 0.25s ease-out;
    padding-left: 10px;
    padding-top: 20px;
    font-family: "Montserrat Regular", sans-serif;
    font-size: 19px;
    color: $main-text2;
  }

  &_green {
    .faq__title {
      background-image: linear-gradient(148.71deg, #B2FF0F 10.47%, #76FFEF 88.29%);
    }

    .faq__item {
      background: linear-gradient(#0D0D0D, #0D0D0D) padding-box, linear-gradient(45deg, #B2FF0F, #76FFEF) border-box;
      box-shadow: 2px 2px 20px rgba(85, 255, 57, 0.5);
    }
  }
}