.form {
  display: inline-flex;
  flex-direction: column;
  width: 100%;

  &__input-wrap {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 18px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3px;
      background: linear-gradient(45deg, #FC84FF, #54D1FA) border-box;
      z-index: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__inputs {
    margin-bottom: 60px;
    width: 100%;
  }

  &__input {
    position: relative;
    width: 100%;
    padding: 20px 10px;
    border-bottom: 2px solid transparent;
    font-family: "Montserrat Medium", sans-serif;
    font-size: 28px;
    line-height: 34px;
    color: $main-white;
    box-shadow: 2px 2px 20px rgba(239, 57, 255, 0.5);
    clip-path: polygon(0% 0%, 100% 0%, 100% 120%, 0% 120%);
    z-index: 1;
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
  }

  &__submit-btn {
    height: 67px;
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 28px;
    line-height: 34px;
    padding: 17px 73px;
    background: linear-gradient(#0D0D0D, #0D0D0D) padding-box, linear-gradient(to right, #FC84FF, #54D1FA) border-box;
    border-radius: 0px 60px;
    filter: drop-shadow(0px 2px 20px rgba(239, 57, 255, 0.5));
  }
}

@media screen and (max-width: 1200px) {
  .form {
    &__submit-btn {
      padding: 12px 50px;
      font-size: 18px;
    }

    &__input {
      padding: 10px;
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 576px) {
  .form {
    padding: 0 20px;

    &__inputs {
      margin-bottom: 29px;
    }

    &__input {
      padding: 8px 10px;
      font-size: 13px;
      line-height: 16px;
      border-bottom: 1px solid transparent;

      &-wrap {
        margin-bottom: 32px;
      }
    }

    &__submit-btn {
      height: 43px;
      padding: 10px 42px;
      font-size: 19px;
    }
  }
}