.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 23px;
  height: 114px;
  display: flex;
  flex-direction: column;
  background: rgba(13, 13, 13, 0.2);
  backdrop-filter: blur(15px);
  z-index: 999;

  &__container {
    max-width: 1910px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-left: 0;
    padding-left: 40px;
  }

  &__menu-wrap {
    display: flex;
    align-items: center;
  }

  &__btn {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    height: 76px;

    &__logo {
      padding-left: 0;
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &__btn {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {

    &__buttons {
      flex-direction: column;
    }

    &__btn {
      margin-right: 0px;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 576px) {
   .header {
     padding-top: 19px;

     &__container {
       padding-left: 12px;
       padding-right: 13px;
     }
   }

}