.swiper-slide {
  height: auto !important;
  text-align: center;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: linear;
}

.partners__swiper {
  .swiper-wrapper {
    padding: 0;
  }
}