.coming {
  &__main {
    height: 100vh;
    background: url("./images/coming/circle-bg-2.png") left top no-repeat, url("./images/coming/circle-bg.png") right bottom no-repeat;

    .container {
      height: 100%;
    }
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__title {
    font-family: "Chakra Petch SemiBold", sans-serif;
    font-size: 150px;
    line-height: 195px;
    letter-spacing: 0.12em;
  }
}