.main {
  &-section {
    padding: 0px 0 46px 0;
    padding-top: calc(89px + 114px);
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-bottom: 19px;
  }

  &__subtitle {
    line-height: 59px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__buttons {
    display: flex;
  }

  &__btn {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__info {
    width: 58%;
    margin-right: 39px;
  }

  &__gif-wrap {
    width: 42%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__coin-gif {
    max-width: 100%;
  }
}

.designed {
  &-section {
    padding: 45px 0 111.5px 0;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    //display: flex;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 22px 21px 13px 30px;
    box-shadow: 2px 2px 9px #91009D;
    border-radius: 60px;
    background: linear-gradient($main-black, $main-black) padding-box,
    linear-gradient(45deg, #86AFFE, #A57AFF, #FB84FF) border-box;
    border: 1px solid transparent;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-icon {
    margin-bottom: 11px;
    display: flex;
    justify-content: center;
  }

  &__item-title {
    margin-bottom: 19px;
    font-family: "Montserrat SemiBold", sans-serif;
    text-align: center;
    font-size: 28px;
  }

  &__item-text {
    margin-bottom: 10px;
    text-align: center;
  }

  &__item-link-wrap {
    display: flex;
    justify-content: center;
  }

  &__item-link {
    display: inline-block;
    padding: 10.5px 30px;
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 20px;
    background-image: linear-gradient(103.59deg, #54D6FF 13.23%, #C275FF 56.28%, #F36AFF 91.95%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}

.info {
  &-section {
    padding: 111px 0 70px 0;
  }

  &__wrap {
    width: 100%;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 5;

    &-wrap {
      position: relative;
      margin-bottom: 109px;

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(even) {
        .info__item {
          flex-direction: row-reverse;
        }

        .info__item-bg {
          left: 0;
        }
      }
    }

    &-img-wrap {
      width: 50%;
    }

    &-img {
      width: 100%;
    }

    &-text-wrap {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 70px;
        height: 70px;
        background: url("./images/home/info/corner-right-top.svg") no-repeat;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 70px;
        height: 70px;
        background: url("./images/home/info/corner-left-bottom.svg") no-repeat;
      }
    }

    &-text {
      width: 50%;
    }

    &-title {
      padding-left: 60px;
      margin-bottom: 25px;

      -webkit-text-fill-color: $main-white;
      color: $main-white;
    }

    &-description {
      padding: 0 0 26px 60px;
    }

    &-link-wrap {
      display: flex;
      align-items: flex-end;
      position: relative;
    }

    &-link {
      display: flex;
      flex: 0 0 auto;
      position: relative;
      z-index: 2;
      background: $main-black;
    }

    &-link-text {
      margin-right: 12px;
    }

    &-link-decoration {
      position: relative;
      display: flex;
      flex: 1 1 auto;
      align-self: flex-end;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        bottom: 23px;
        left: 0;
        height: 2px;
        width: 100%;
        border-bottom: 2px dashed $main-white;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: $main-white;
      }
    }

    &-product-number {
      font-family: "Chakra Petch Regular", sans-serif;
      font-size: 19px;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      line-height: 180%;
    }

    &-bg {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(-15%);
      z-index: 0;
    }

    &_green {
      .info__item-title {
        background-image: linear-gradient(148.71deg, #B2FF0F 10.47%, #76FFEF 88.29%);
        background-clip: text;
      }

      .info__item-link {
        background: linear-gradient($main-black, $main-black) padding-box,
        linear-gradient(148.71deg, #B2FF0F 10.47%, #76FFEF 88.29%) border-box;
      }

    }

    &_purple {
      .info__item-title {
        background: linear-gradient(145.54deg, #7673FF 10.4%, #42F4FF 92.38%);
        background-clip: text;
      }

      .info__item-link {
        background: linear-gradient($main-black, $main-black) padding-box,
        linear-gradient(145.54deg, #7673FF 10.4%, #42F4FF 92.38%) border-box;
      }
    }

    &_orange {
      .info__item-title {
        background: linear-gradient(144.66deg, #FF6C56 6.96%, #FF9344 88.16%);
        background-clip: text;
      }

      .info__item-link {
        background: linear-gradient($main-black, $main-black) padding-box,
        linear-gradient(144.66deg, #FF6C56 6.96%, #FF9344 88.16%) border-box;
      }
    }
  }
}

.team {
  &-section {
    position: relative;
    padding: 70px 0 51px 0;
  }

  &-section-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &__left {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-20%);
    }

    &__right {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(-10%);
    }
  }

  &__container {
    position: relative;
    max-width: 1291px;
    z-index: 2;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 75px;
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
  }

  &__btn {
    font-size: 22px;
    border-color: $main-white;
  }

  &__btn-text {
    margin-right: 10px;
  }
}

.team-card {
  width: calc(25% - 47px);
  margin-right: 47px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  box-shadow: 2px 2px 9px #91009D;
  border-radius: 10px;
  background: linear-gradient(#0D0D0D, #0D0D0D) padding-box, linear-gradient(45deg, #86AFFE, #A57AFF, #FB84FF) border-box;
  border: 1px solid transparent;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &__img {
    width: 100%;
    margin-bottom: 18px;
    border-radius: 10px;
  }

  &__name {
    margin-bottom: 13.5px;
    font-size: 25px;
    text-align: center;
  }

  &__position {
    margin-bottom: 35px;
    font-size: 14px;
    color: $main-text2;
    text-align: center;
  }

  &__social-list {
    display: flex;
    padding: 0 71px;
    justify-content: space-around;
  }

  &__social-link {
    &.linkedin:hover {
      filter: drop-shadow(0px 0px 15px #3964FC);
    }
    &.instagram:hover {
      filter: drop-shadow(0px 0px 15px #FF7235);
    }
    &.telegram:hover {
      filter: drop-shadow(0px 0px 15px #9A4BFF);
    }
    &.twitter:hover {
      filter: drop-shadow(0px 0px 15px #5FECFF);
    }
  }
}

.partners{
  &-section {
    padding-top: 9px;
    margin-bottom: 77px;
    background: $main-black;
  }

  &__swiper {
    background: $main-black;
  }

  &__link {
    display: block;
  }
}

.social {
  &-section {
    padding: 91px 0 140px 0px;
  }

  &__container {
    max-width: 1265px;
  }

  &__bg {
    max-width: 100%;
    position: relative;
  }

  &__bg-img {
    width: 100%;
    max-width: 100%;
  }

  &__bg-mask {
    width: 100%;
    position: absolute;
    bottom: -65px;
    left: -50px;
    z-index: 10;
    max-width: 100%;
    pointer-events: none;
  }
  
  &__title {
    margin-bottom: 367px;
    text-align: center;
  }

  &__list {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__item {
    position: absolute;
    z-index: 5;

    &.linkedin {
      top: -257px;
      left: 673px;
    }

    &.discord {
      top: -163px;
      left: 367px;
    }

    &.reddit {
      top: 18px;
      left: 568px;
    }

    &.telegram {
      top: 56px;
      left: 266px;
    }

    &.twitter {
      top: 60px;
      left: 780px;
    }

    &.instagram {
      top: 240px;
      left: 312px;
    }
  }

  &__item-link {
    pointer-events: auto;

    &:hover {
      .social__item-icon {
        transform: scale3d(1.2, 1.2, 1.2);
        transition: all 0.5s;
      }
    }
  }
}

.contact {
  &-section {
    padding: 140px 0 233.5px 0;
    background: url('./images/home/contact-us/tokens.png')  left top no-repeat, url('./images/home/contact-us/tokens-1.png') right bottom no-repeat;
  }

  &__title {
    margin-bottom: 63px;
  }

  &__form-wrap {
    display: flex;
    justify-content: center;
  }

  &__form {
    width: 611px;
  }
}

@media screen and (max-width: 1200px) {
  .logo {
    max-width: 200px;
  }

  .social__item {
    &-icon {
      width: 200px;
    }
  }

  .main {
    &__subtitle {
      line-height: 45px;
    }

    &-section {
      padding-top: 180px;
    }
  }
}

@media screen and (max-width: 992px) {
  .social__item {
    &-icon {
      width: 50px;
    }
  }

  .main {
    &-section {
      padding-top: 140px;
      padding-bottom: 40px;
    }

    &__title {
      margin-bottom: 0px;
    }

    &__subtitle {
      line-height: 32px;
    }
  }

  .info {
    &-section {
      padding-top: 0;
      padding-bottom: 0;
    }

    &__item {
      &-wrap {
        margin-bottom: 50px;
      }

      &-product-number {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .partners {
    display: flex;
    order: 2;
  }
  .designed {
    display: flex;
    order: 3;
  }
  .info {
    display: flex;
    order: 4;
  }
  .team {
    display: flex;
    order: 5;
  }
  .faq {
    display: flex;
    order: 6;
  }
  .social {
    display: flex;
    order: 7;
  }
  .contact {
    display: flex;
    order: 8;
  }
  .footer {
    display: flex;
    order: 9;
  }

  .main {
    &-section {
      display: flex;
      order: 1;
      padding-top: 96px;
    }

    &__wrap {
      flex-direction: column-reverse;
    }

    &__info {
      width: 100%;
      margin-bottom: 21px;
      margin-right: 0;
      text-align: center;
    }

    &__gif-wrap {
      width: 75%;
    }

    &__title {
      margin-bottom: 11px;
    }

    &__subtitle {
      margin-bottom: 11px;
    }

    &__text {
      margin-bottom: 11.5px;
    }

    &__buttons {
      justify-content: center;
    }

    &__btn {
      margin-right: 24px;
    }
  }

  .designed {
    &__title {
      margin-bottom: 29px;
    }

    &__item {
      padding: 15px 15px 16px 20px;
      border-radius: 40px;

      &-icon {
        margin-bottom: 13.5px;

        img {
          width: 70px;
          height: 70px;
        }
      }

      &-title {
        font-size: 20px;
        margin-bottom: 8.5px;
      }

      &-link {
        padding: 6.5px 18.5px;
      }
    }
  }

  .partners {
    &-section {
      margin-bottom: 0;
    }
  }

  .info {
    &__item {
      flex-direction: column;

      &-img-wrap {
        width: 100%;
      }

      &-text-wrap {
        margin-bottom: 15px;
      }

      &-text {
        width: 100%;
      }

      &-link {
        margin-bottom: 28px;
      }

      &-link-wrap {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .logo {
    max-width: 120px;
  }

  .main {
    &-section {
      padding-bottom: 43px;
    }
  }

  .designed {
    &__item {
      padding: 15px 8px 10px 13px;

      &-icon {
        margin-bottom: 13.5px;

        img {
          width: 50px;
          height: 50px;
        }
      }

      &-title {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8.5px;
      }

      &-text {
        margin-bottom: 13px;
      }
    }
  }

  .partners {

    &__link {
      img {
        height: 74px;
      }
    }
  }
}