.token__main {
  position: relative;

  &-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;

    img {
      position: absolute;
      right: 0;
    }
  }

  &-section {
    padding-top: calc(125px + 114px);
    background: url('./images/token/main/main-bg.gif') center -90px no-repeat;
    background-size: contain;
  }

  &-wrap {
    position: relative;
    padding-bottom: 89px;
  }

  &-info {
    width: 35%;
  }

  &-title {
    width: 100%;
    margin-bottom: 21px;
    line-height: 100px;

    &_right {
      display: block;
      width: 100%;
      text-align: right;
    }

    &_color {
      margin-bottom: 21px;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(103.59deg, #FC84FF 13.23%, #54D1FA 91.95%);

      &:last-child {
        position: relative;
        top: 21px;
      }
    }
  }

  &-text {
    font-family: "Chakra Petch Regular", sans-serif;
    font-size: 22px;
    margin-bottom: 39px;
  }

  &-btn {
    height: 63px;
    padding: 0 70.5px;
    margin-bottom: 160px;
    position: relative;
    background: linear-gradient($main-black, $main-black) padding-box,
    linear-gradient(to right, #FC84FF, #54D1FA) border-box;
    font-size: 22px;
  }
}

.tokenomic {
  &-section {
    position: relative;
    padding-top: 89px;
    padding-bottom: 100px;
  }

  &-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    picture {
      position: absolute;

      &:first-child {
        top: 0;
        left: 0;
      }

      &:last-child {
        bottom: 0;
        transform: translateY(50%);
        right: 0;
      }
    }

    &-img {
      &:first-child {
        left: 0;
      }

      &:last-child {
        position: absolute;
        right: 0;
        top: 30%;
        //transform: translateY(-50%);
      }
    }
  }

  &__container {
    max-width: 1143px;
  }

  &__chart-wrap {
    max-width: 100%;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }

  &__title {
    font-size: 69px;
    line-height: 84px;
    margin-bottom: 21px;
    font-family: "Montserrat SemiBold", sans-serif;
    background-image: linear-gradient(117.47deg, #86AFFE 7.39%, #A57AFF 23.36%, #FB84FF 38.85%);
  }

  &__description {
    margin-bottom: 66px;
    line-height: 155%;
    letter-spacing: normal;
    text-align: center;
  }
}

.roadmap {
  &-section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 143px;
    background: url("./images/token/roadmap/bg-circle-1.png") left center no-repeat, url("./images/token/roadmap/bg-circle-2.png") right bottom no-repeat;
  }

  &__title {
    margin-bottom: 32px;
    letter-spacing: 0.11em;
  }

  &__description {
    margin: 0 auto;
    max-width: 1113px;
    text-align: center;
    margin-bottom: 99px;
    font-size: 25px;
    line-height: 155%;
  }

  &__item {
    display: flex;
    justify-content: flex-end;

    &:nth-child(even) {
      flex-direction: row-reverse;

      .roadmap__item-decor-wrap {
        margin-right: 0;
        margin-left: 28px;
      }

      .roadmap__item-decor {
        flex-direction: row-reverse;
      }


      .roadmap__item-decor-circle {
        margin-right: 31px;
        border-color: #5FECFF;
      }

      .roadmap__item-decor-text {
        margin-right: 0;
      }
    }

    &.active {
      .roadmap__item-decor-circle {
        border: none;
        background: linear-gradient(103.59deg, #FC84FF 13.23%, #54D1FA 91.95%);
      }
    }

    &:first-child {
      .roadmap__item-decor-line {
        height: calc(50%);
        top: 25%;
      }
    }
  }

  &__item-decor {
    display: inline-flex;
    align-items: center;

    &-wrap {
      position: relative;
      margin-right: 28px;
      margin-top: 50px;
    }

    &-text {
      margin-right: 31px;
      font-family: "Chakra Petch SemiBold", sans-serif;
      font-size: 30px;
      line-height: 39px;
      letter-spacing: 0.11em;
    }

    &-circle {
      position: relative;
      width: 57px;
      height: 57px;
      border: 5px solid #F36AFF;
      background: $main-black;
      border-radius: 50%;
      z-index: 1;
    }

    &-line {
      position: relative;
      height: calc(100%);
      transform: translateY(-50%);
      width: 5px;
      background: #FC84FF;
      margin-top: -5px;
      margin-left: auto;
      margin-right: 23px;
      border-radius: 5px;
      z-index: 0;
    }
  }

  &__block {
    width: 40%;
    position: relative;
    display: inline-block;
    border-radius: 30px;
    background: linear-gradient(#0D0D0D, #0D0D0D) padding-box, linear-gradient(to right, #FFB78F, #DB73FF) border-box;
    border: 2px solid transparent;
    box-shadow: 2px 2px 9px #91009D;
  }

  &__block-item {
    padding: 10px 50px 20px 37px;
    background: linear-gradient(#0D0D0D, #0D0D0D) padding-box, linear-gradient(45deg, #FFB78F, #DB73FF) border-box;
    border-bottom: 2px solid transparent;
    position: relative;

    &:last-child {
      padding-top: 15px;
      padding-bottom: 30px;
      border-radius: 0 0 30px 30px;
      border: none;
    }

    &:first-child {
      padding-top: 30px;
      border-radius: 30px 30px 0 0;
    }
  }

  &__block-item-title {
    margin-bottom: 8px;
    font-family: "Chakra Petch Medium", sans-serif;
    font-size: 37px;
    letter-spacing: 0.11em;
  }

  &__block-item-text {
    font-size: 24px;
    line-height: 29px;
  }
}

.token__contact {
  position: relative;
  padding-top: 143px;
  padding-bottom: 124px;
  background: none;

  &-bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &-bg-img {
    &:nth-child(1) {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(25%);
    }

    &:nth-child(2) {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-25%);
    }
  }

  &__title {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 50px;
  }
}

.token-address {
  &-section {
    padding-top: 128px;
    padding-bottom: 118px;
  }

  &__title {
    font-size: 64px;
    line-height: 83px;
    margin-bottom: 23px;
    background-image: linear-gradient(116.77deg, #FC84FF 3.43%, #54D1FA 38.39%);
  }

  &__text {
    margin-bottom: 72px;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
  }

  &__address {
    display: inline-flex;
    align-items: center;
    padding: 8px 10px 10px 33px;
    border: 1px solid $main-white;
    border-radius: 50px;

    &-wrap {
      display: flex;
      justify-content: center;
    }

    &-text {
      font-size: 20px;
      line-height: 24px;
      margin-right: 69px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__btn {
    height: 76px;
    padding: 0 46px;
    font-size: 20px;
  }

  &__icon {
    margin-right: 14px;
  }
}

@media screen and (max-width: 1600px) {
  .token__main {
    &-btn {
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .token__main {
    &-info {
      width: 100%;
    }

    &-title {
      margin-bottom: 120px;
    }

    &-buttons {
      display: flex;
      justify-content: center;
    }

    &-btn {
      margin-bottom: 50px;
    }
  }

  .token__contact {
    &__title {
      font-size: 55px;
    }
  }

  .roadmap {
    &__block-item {
      padding: 20px 40px;

      &-title {
        font-size: 28px;
      }

      &-text {
        font-size: 16px;
      }
    }

    &__item {
      &-decor-text {
        font-size: 24px;
        margin-right: 20px;
      }

      &-decor-circle {
        width: 40px;
        height: 40px;
        margin-right: 5px;
        margin-left: 5px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .token__main {
    &-section {
      padding-top: 450px;
      background-position: center 0;
    }


    &-wrap {
      padding-bottom: 50px;
    }

    &-title {
      text-align: center;
      margin-bottom: 30px;
      line-height: 60px;

      &_right {
        text-align: center;
        padding-left: 75px;
      }
    }

    &-text {
      text-align: center;
    }

    &-btn {
      padding: 12px 50px;
      font-size: 20px;
    }
  }

  .token__contact {
    padding-top: 70px;
    padding-bottom: 62px;

    &-bg {
      display: none;
    }

    &__title {
      font-size: 45px;
    }
  }

  .tokenomic {
    &__title {
      font-size: 45px;
    }
  }

  .roadmap {
    &-section {
      padding-bottom: 72px;
      background: url(./images/token/roadmap/bg-circle-1-mobile.png) right 20% no-repeat, url(./images/token/roadmap/bg-circle-1-mobile.png) right bottom no-repeat,
      url(./images/token/roadmap/bg-circle-1-mobile.png) right 60% no-repeat;
    }

    &__item {
      margin-bottom: 80px;

      &-decor {
        &-circle {
          margin: 0;
          background: linear-gradient(#0D0D0D, #0D0D0D) padding-box, linear-gradient(to left, #FC84FF, #54D1FA) border-box;
          border: 5px solid transparent;
          transform: translateX(-5px);
        }

        &-text {
          position: relative;
          font-size: 18px;
          margin-right: 0;
          margin-bottom: 5px;
          left: 10px;
        }
      }

      &:nth-child(even) {
        flex-direction: row;

        .roadmap__item-decor-wrap {
          margin-left: 0;
          margin-right: 28px;
        }

        .roadmap__item-decor {
          flex-direction: column-reverse;
        }

        .roadmap__item-decor-circle {
          margin-right: 0;
          margin-left: 0;
          border-color: transparent;
        }

        .roadmap__item-decor-text {
          margin-right: 0px;
        }
      }
    }

    &__block {
      width: 100%;

      &-item-title {
        font-size: 26px;
      }

      &-item-text {
        font-size: 15px;
      }
    }

    &__description {
      margin-bottom: 60px;
    }
  }

  .token-address {
    &__title {
      font-size: 45px;
    }

    &__address-text {
      width: 300px;
    }
  }
}

@media screen and (max-width: 768px) {
  .token__main {
    &-section {
      padding-top: 350px;
    }

    &-bg {
      top: 0px;
    }

    &-wrap {
      padding-bottom: 40px;
    }

    &-text {
      margin-bottom: 30px;
    }
  }

  .tokenomic {
    &-section {
      padding-top: 62px;
      padding-bottom: 47px;
    }

    &__title {
      margin-bottom: 12px;
      font-size: 30px;
    }

    &__description {
      margin: 0 auto;
      max-width: 85%;
      margin-bottom: 35px;
    }
  }

  .token__contact {
    padding-top: 35px;
    padding-bottom: 66px;

    &.contact {
      order: initial;
    }

    &__title {
      font-size: 30px;
      line-height: 39px;
      margin-bottom: 20px;
    }
  }

  .token-address {
    display: none;
  }

  .roadmap {
    &-section {
      padding-bottom: 35px;
    }

    &__title {
      font-size: 30px;
    }

    &__description {
      display: none;
    }
  }
}

@media screen and (max-width: 576px) {
  .token__main {
    &-wrap {
      padding: 0 20px;
    }

    &-section {
      background-size: 200%;
      background-image: url("./images/token/main/gif-mobile.gif");
      margin-top: 76px;
      padding-top: 293px;
    }

    &-title {
      margin-bottom: 26px;
      line-height: 48px;
    }

    &-text {
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 12px;
    }

    &-btn {
      height: 52px;
      margin-bottom: 59px;
    }
  }

  .tokenomic {
    &-section {
      padding-bottom: 5px;
    }

    &__title {
      font-size: 30px;
      line-height: 37px;
    }

    &__description {
      font-size: 12px;
      line-height: 155%;
    }

    &__chart {
      &-wrap {
        padding: 0 20px;
      }
    }
  }

  .roadmap {
    &-section {
      padding-bottom: 17px;
    }

    &__title {
      margin-bottom: 38px;
    }
  }

  .roadmap__item {
    margin-bottom: 40px;

    &:nth-child(even) {
      .roadmap__item-decor-wrap {
        margin-right: 40px;
      }
    }

    &-decor {
      &-wrap {
        margin-top: 15px;
        margin-right: 40px;
      }

      &-circle {
        width: 43px;
        height: 43px;
        transform: translateX(6px);
      }

      &-text {
        left: 20px;
        font-size: 14px;
        margin-top: 2px;
        line-height: 18px;
        letter-spacing: 0.11em;
      }
    }
  }

  .roadmap__block {
    &-item {
      padding: 6px 16px;

      &:first-child {
        padding-top: 13px;
      }

      &:last-child {
        padding-top: 8px;
        padding-bottom: 6px;
      }

      &-title {
        font-size: 15px;
        margin-bottom: 2px;
        line-height: 20px;
        letter-spacing: 0.11em;
      }

      &-text {
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

  .token__contact {
    padding-top: 0px;

    &__title {
      margin-bottom: 32px;
      font-size: 21px;
      line-height: 26px;
    }
  }
}
