@font-face {
  font-family: 'Montserrat Regular';
  src: url('./fonts/Montserrat/Montserrat-Regular.eot');
  src: url('./fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('./fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
  url('./fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('./fonts/Montserrat/Montserrat-SemiBold.eot');
  src: url('./fonts/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
  url('./fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
  url('./fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('./fonts/Montserrat/Montserrat-Medium.eot');
  src: url('./fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
  url('./fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
  url('./fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('./fonts/Montserrat/Montserrat-Bold.eot');
  src: url('./fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('./fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
  url('./fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch Semibold';
  src: url('./fonts/ChakraPetch/ChakraPetch-SemiBold.eot');
  src: url('./fonts/ChakraPetch/ChakraPetch-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ChakraPetch/ChakraPetch-SemiBold.woff2') format('woff2'),
  url('./fonts/ChakraPetch/ChakraPetch-SemiBold.woff') format('woff'),
  url('./fonts/ChakraPetch/ChakraPetch-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch Bold';
  src: url('./fonts/ChakraPetch/ChakraPetch-Bold.eot');
  src: url('./fonts/ChakraPetch/ChakraPetch-Bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ChakraPetch/ChakraPetch-Bold.woff2') format('woff2'),
  url('./fonts/ChakraPetch/ChakraPetch-Bold.woff') format('woff'),
  url('./fonts/ChakraPetch/ChakraPetch-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch Regular';
  src: url('./fonts/ChakraPetch/ChakraPetch-Regular.eot');
  src: url('./fonts/ChakraPetch/ChakraPetch-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ChakraPetch/ChakraPetch-Regular.woff2') format('woff2'),
  url('./fonts/ChakraPetch/ChakraPetch-Regular.woff') format('woff'),
  url('./fonts/ChakraPetch/ChakraPetch-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch Medium';
  src: url('./fonts/ChakraPetch/ChakraPetch-Medium.eot');
  src: url('./fonts/ChakraPetch/ChakraPetch-Medium.eot?#iefix') format('embedded-opentype'),
  url('./fonts/ChakraPetch/ChakraPetch-Medium.woff2') format('woff2'),
  url('./fonts/ChakraPetch/ChakraPetch-Medium.woff') format('woff'),
  url('./fonts/ChakraPetch/ChakraPetch-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
